@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove Scroll Bar */
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}
/* Remove Scroll Bar : End */
