@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove Scroll Bar */
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}
/* Remove Scroll Bar : End */

/* Set Link Color */
a {
  color: black !important;
}
/* Set Link Color : End */

/* Drawer Animation */
@keyframes slideUp {
  from {
    transform: translateY(100%) translateX(-50%);
  }
  to {
    transform: translateY(0) translateX(-50%);
  }
}

.drawer-slide-up {
  animation: slideUp 0.3s ease-in-out forwards;
}

@keyframes slideDown {
  from {
    transform: translateX(-50%) translateY(0);
  }
  to {
    transform: translateX(-50%) translateY(100%);
  }
}

.drawer-slide-down {
  animation: slideDown 0.3s ease-in-out forwards;
}

/* Drawer BG Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0;
  }
}

.animate-fade-out {
  animation: fadeOut 0.3s ease-out forwards;
}
